@{
    var name = ViewBag.Name;
    var projectName = ViewBag.ProjectName;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HR Management | CCP | CPS</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/summernote/summernote-bs4.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/v/bs4/dt-1.12.1/af-2.4.0/b-2.2.3/b-html5-2.2.3/b-print-2.2.3/datatables.min.css" />

    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

    <link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
    <script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>

    <!-- Toast -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


</head>

<body class="hold-transition sidebar-mini sidebar-collapse"> @* layout-fixed" *@
    <div class="wrapper">
        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="~/AdminLTE/dist/img/logo_ccp.png" alt="CCP" height="60" width="60">
        </div>

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                @*<li class="nav-item d-none d-sm-inline-block">
                    <a href="index3.html" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link">Contact</a>
                    </li>*@
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                <li class="nav-item">
                    <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                        <i class="fas fa-search"></i>
                    </a>
                    <div class="navbar-search-block">
                        <form class="form-inline">
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-navbar" type="search" placeholder="Search"
                                    aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="#" class="brand-link">
                <img src="~/AdminLTE/dist/img/logo_ccp.jpg" alt="AdminLTE Logo"
                    class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light"><small>HR Management</small></span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/AdminLTE/dist/img/LOGO.png" class="img-circle elevation-2" alt="User Image">
                    </div>

                    <div class="info">
                        <a href="#" class="d-block">@name</a>
                    </div>
                </div>

                <!-- SidebarSearch Form -->
                @*<div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                    <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                    <button class="btn btn-sidebar">
                    <i class="fas fa-search fa-fw"></i>
                    </button>
                    </div>
                    </div>
                    </div>*@

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                             with font-awesome or any other icon font library -->
                        @*<li class="nav-item menu-open">
                            <a href="#" class="nav-link active">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                            Dashboard
                            <i class="right fas fa-angle-left"></i>
                            </p>
                            </a>
                            <ul class="nav nav-treeview">
                            <li class="nav-item">
                            <a href="./index.html" class="nav-link active">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Dashboard v1</p>
                            </a>
                            </li>
                            <li class="nav-item">
                            <a href="./index2.html" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Dashboard v2</p>
                            </a>
                            </li>
                            <li class="nav-item">
                            <a href="./index3.html" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Dashboard v3</p>
                            </a>
                            </li>
                            </ul>
                            </li>*@
                        @* <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="CreateOT" asp-action="DepartmentManu">
                            <i class="nav-icon fas fa-th"></i>
                            <p>
                            ทำรายการ
                            <span class="right badge badge-danger">Go</span>
                            </p>
                            </a>
                            </li> *@

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-chart-pie"></i>
                                <p>
                                    Report | CCP
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="OTCheckIn"
                                        asp-action="Index">                                       
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Report iOT Check In</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-chart-pie"></i>
                                <p>
                                    Report | CPS
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="OTCheckInCPS"
                                        asp-action="Index">                                       
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Report iOT Check In</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-chart-pie"></i>
                                <p>
                                    Report ListApprove                               
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            @* <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="ListApproveBplus"
                                        asp-action="Index">                                       
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>ReportListApproveConditionBplus</p>
                                    </a>
                                </li>
                            </ul> *@

                             <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="ReportApproveOT"
                                        asp-action="Index">                                       
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Report-ApproveOT</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        @* <li class="nav-header">SETTING</li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-cog"></i>
                                <p>
                                    Master
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">

                                <li class="nav-item">
                                    <small>
                                        <a asp-controller="TRN" asp-action="Index" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>MenuAppTRNManagement</p>
                                        </a>
                                    </small>
                                </li> *@
                                @* <li class="nav-item">
                                    <a asp-controller="Department" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>แผนก</p>
                                    </a>
                                    </li>
                                    <li class="nav-item">
                                    <a asp-controller="Employee" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>พนักงาน</p>
                                    </a>
                                    </li>
                                    <li class="nav-item">
                                    <a asp-controller="Machine" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>เครื่องจักร</p>
                                    </a>
                                    </li> *@


                            </ul>
                        </li>
                        @* <li class="nav-item">
                            <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-cogs"></i>
                            <p>
                            Config Master
                            <i class="right fas fa-angle-left"></i>
                            </p>
                            </a>
                            <ul class="nav nav-treeview">
                            <li class="nav-item">
                            <a asp-controller="Factory" asp-action="Config" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>โรงงาน => แผนก</p>
                            </a>
                            </li>
                            <li class="nav-item">
                            <a asp-controller="Department" asp-action="Config" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>แผนก => พนักงาน</p>
                            </a>
                            </li>
                            <li class="nav-item">
                            <a asp-controller="Employee" asp-action="Config" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>แผนก => หัวหน้าแผนก</p>
                            </a>
                            </li> *@


                        @* <li class="nav-item">
                            <a asp-controller="Config" asp-action="ConfigEmployee" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Config พนักงาน</p>
                            </a>
                            </li>
                            <li class="nav-item">
                            <a asp-controller="Config" asp-action="ConfigFactory" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Config โรงงาน</p>
                            </a>
                            </li> *@
                        @* </ul>
                            </li> *@

                        @* <li class="nav-item">
                            <a href="#" class="nav-link">
                            <i class="nav-icon far fa-user-circle"></i>
                            <p>
                            จัดการผู้ใช้งาน
                            <i class="right fas fa-angle-left"></i>
                            </p>
                            </a>
                            <ul class="nav nav-treeview">
                            <li class="nav-item">
                            <a asp-controller="Profile" asp-action="Index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>จัดการผู้ใช้งาน</p>
                            </a>
                            </li>
                            </ul>
                            </li> *@




                        @* <li class="nav-item">
                            <a data-toggle="modal" data-target="#modal-logout" class="nav-link">
                                <i class="nav-icon fas fa-external-link-alt"></i>
                                <p>
                                    Logout
                                    <i class="container"></i>
                                </p>
                            </a>
                        </li>

                    </ul>
                </nav> *@
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!--<div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Dashboard</h1>
                        </div>-->
            <!-- /.col -->
            <!--<div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Dashboard v1</li>
                            </ol>
                        </div>-->
            <!-- /.col -->
            <!--</div>-->
            <!-- /.row -->
            <!--</div>-->
            <!-- /.container-fluid -->
            <!--</div>-->
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2021 <a href="https://ccp.co.th">CCP</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 2.0.0
            </div>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>


    <div class="modal fade" id="modal-logout">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="far fa-user-circle"></i>
                    <h4 class="modal-title">Logout</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>คุณต้องการออกจากระบบหรือไม่&hellip;</p>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <a type="button" asp-action="Logout" asp-controller="Account" class="btn btn-danger">Logout</a>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!-- ./wrapper -->



    <!-- jQuery -->
    <script src="~/AdminLTE/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/AdminLTE/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>$.widget.bridge('uibutton', $.ui.button)</script>
    <!-- Bootstrap 4 -->
    <script src="~/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/AdminLTE/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/AdminLTE/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/AdminLTE/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/AdminLTE/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/AdminLTE/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/AdminLTE/plugins/moment/moment.min.js"></script>
    <script src="~/AdminLTE/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/AdminLTE/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/AdminLTE/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/AdminLTE/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/AdminLTE/dist/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/AdminLTE/dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/AdminLTE/dist/js/pages/dashboard.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript"
        src="https://cdn.datatables.net/v/bs4/dt-1.12.1/af-2.4.0/b-2.2.3/b-html5-2.2.3/b-print-2.2.3/datatables.min.js"></script>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>





</body>

<script type="text/javascript">
        function Loading() {
            $('#Load').modal({
                backdrop: 'static',
                keyboard: false
            });
        }
 </script>

<script>
    const qrcode = document.getElementById("qrcode");
    const textInput = document.getElementById("text");
    const qr = new QRCode(qrcode, { width: 80, height: 80 });
    textInput.oninput = (e) => {
        qr.makeCode(e.target.value.trim());
    };
    qr.makeCode(textInput.value.trim());
</script>
<script>
    $(document).ready(function () {
        $('#example').DataTable({
            order: [[2, 'asc']],
            charset: 'UTF-8',
            dom: 'Bfrtip',
            buttons: ['copy','excel', 'csv']
        });
    });
    $(document).ready(function () {
        $('#example1').DataTable({
            order: [[1, 'asc']],
            charset: 'UTF-8',
            dom: 'Bfrtip',
            buttons: ['copy', 'excel', 'csv', 'print']
        });
    });
    $(document).ready(function () {
        $('#example2').DataTable({
            order: [[1, 'asc']],
            charset: 'UTF-8',
            dom: 'Bfrtip',
            buttons: ['excel', 'csv']
        });
    });
    $(document).ready(function () {
        $('#department').DataTable({
            order: [[1, 'asc']],
            charset: 'UTF-8',
            dom: 'Bfrtip',
            buttons: [
                'copy', 'excel', 'csv', 'print'
            ]
        });
    });

    $(document).ready(function () {
        $('#reportall').DataTable({
            order: [[0, 'desc']],
            dom: 'Bfrtip',
            buttons: [
                'copy', 'excel', 'csv', 'print'
            ]
        });
    });

    $(document).ready(function () {
        $('#tableConfigGL').DataTable({
            order: [[3, 'asc']],
            dom: 'Bfrtip',
            buttons: [
                'copy', 'excel', 'csv', 'print'
            ]
        });
    });

    $(document).ready(function () {
        $('#PostingKeyList').DataTable({
            order: [[2, 'desc']],
            dom: 'Bfrtip',
            buttons: [
                'copy', 'excel', 'csv', 'print'
            ]
        });
    });

    $(function () {
        $('#modal-Delete').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var id1 = button.data('id1');
            var id2 = button.data('id2');
            var id3 = button.data('id3');


            var modal = $(this);
            modal.find('#id1').val(id1);
            modal.find('#id2').val(id2);
            modal.find('#id3').val(id3);

        });
    });

    $(function () {
        $('#modal-Active').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var id1 = button.data('id1');
            var id2 = button.data('id2');
            var id3 = button.data('id3');

            var modal = $(this);
            modal.find('#id1').val(id1);
            modal.find('#id2').val(id2);
            modal.find('#id3').val(id3);

        });
    });


    $(function () {
        $('#modal-Edit').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var id1 = button.data('id1');
            var id2 = button.data('id2');
            var id3 = button.data('id3');

            var modal = $(this);
            modal.find('#id1').val(id1);
            modal.find('#id2').val(id2);
            modal.find('#id3').val(id3);
        });
    });

    $(function () {
        $('.selectpicker').selectpicker();
    });
</script>


</html>